<%= render "static_pages/static_navbar" %>
<div class="container center-container">
  <div class="row center-row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <div id="carrot-img">
        <img src="http://res.cloudinary.com/harvst/image/upload/v1445624876/forageicon_bqgk9u.png">
      </div>
      <img src="http://res.cloudinary.com/harvst/image/upload/v1445624843/foragetext_yv5j6v.png">
      <br><br>

      <%= render "shared/errors" %>

      <form action=<%= session_url %> method="POST">

        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>" >

        <div class="form-group">
        <input
          type="text"
          name="user[username]"
          id="user_username"
          class="form-control"
          placeholder="username">
        </div>

        <div class="form-group">
        <input type="password"
          name="user[password]"
          class="form-control"
          id="user_password"
          class="form-control"
          placeholder="password">
        </div>

        <br>

        <div class='text-center'>
          <button type="submit" class="btn btn-default"  id="submit-button">Sign In!</button>
        </div>
      </form>

      <div class='text-center margin-top'>
          Don't have an account?
          <%= link_to "Join Harvst", new_user_url %> or sign in as a
          <form action=<%= session_url %> method="POST">
            <input
              type="hidden"
              name="authenticity_token"
              value="<%= form_authenticity_token %>" >
            <input
              type="hidden"
              name="user[username]"
              value="MaryGardener">
            <input type="hidden"
              name="user[password]"
              value="password">
            <input type="submit" class="just-link" value="demo user.">
          </form>
      </div>

    </div>
  </div>
</div>
