<%= render "static_pages/static_navbar" %>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Join Harvst</h1>
      <br>

      <%= render "shared/errors" %>

      <form action=<%= users_url %> method="POST">

        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>" >

        <div class="form-group">
        <input
          type="text"
          name="user[username]"
          id="user_username"
          class="form-control"
          placeholder="username"
          value="<%= @user.username %>">
        </div>

        <div class="form-group">
        <input type="text"
          name="user[email]"
          id="user_email"
          class="form-control"
          placeholder="email"
          value="<%= @user.email %>">
        </div>

        <div class="form-group">
        <input type="password"
          name="user[password]"
          class="form-control"
          placeholder="password"
          class="form-control"
          id="user_password">
        </div>

        <div class="form-group">
        <input type="password"
          name="user[password_confirmation]"
          class="form-control"
          placeholder="confirm password"
          id="user_password">
        </div>

        <div class="radio">
          <label>
            <input
              type="radio"
              name="user[affiliation]"
              id="user_affiliation"
              value="individual"
              <%= "checked" if  @user.affiliation == "individual" %>>
            I'm making this account for myself.
          </label>
        </div>

        <div class="radio">
          <label>
            <input
              type="radio"
              name="user[affiliation]"
              id="user_affiliation"
              value="organization"
              <%= "checked" if  @user.affiliation == "individual" %>>
            I'm making this account for my organization.
          </label>
        </div>

        <br>
        <div class="text-center">
          <button type="submit" class="btn btn-default">Create Account</button>
        </div>
      </form>
    </div>
  </div>
</div>
