<!DOCTYPE html>
<html>
<head>
  <title>Harvst</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag(source='favicon.ico') %>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>
</html>
